<ul>
    <li *ngFor="let day of week; index as i;">
        {{day}}
        <!-- [value]="schedule[i]!='' && schedule[i]!=null? schedule[i].firstName: ''" -->
        <!-- [selected]="schedule[i]" -->
        <select name="selectV" [(ngModel)]="schedule[i]" [ngStyle]="{'background-color': schedule[i]!='' && schedule[i]!=null? 'blue': 'gray'}">
            <option></option>
            <option *ngFor="let volunteer of potentialVolunteersByDay[i]" [ngValue]="volunteer">
                {{volunteer.firstName}} {{volunteer.lastName}}
            </option>
        </select> <br>{{schedule[i] | json}}<br>
    </li>
</ul>
<button mat-button color="primary" (click)="updateSchedule()">save</button>